div{
	display: block;
}
body{
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	padding-left: 90px;
}
div.wrap{
	width:100%;
	height:100%;
	margin: 10px 0px;
}
div.left{
	display:inline-block;
	width:48%;
	float:left;
}
div.right{
	display:inline-block;
	width:48%;
	height:100%;
	float:right;
}
h2{
	margin: 0px;
	font-size: 2em;
}
div.social-page{
	padding-left:10px;
	width: 80%;
}
.btn{
	float:right;
	display: inline-block;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 10px 18px;
	font-size: 15px;
	line-height: 1.42857143;
	border-radius: 0;
	-webkit-user-select: none;
	margin-bottom: 15px;
}
.btn-primary {
	color: #ffffff;
	background-color: #2780e3;
	border-color: #2780e3;
}
.btn-success {
	color: #ffffff;
	background-color: #3fb618;
	border-color: #3fb618;
}
button#save-options{
	width: 200px;
}
.panel{
	margin-bottom: 21px;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-primary{
	border-color: #2780e3;
}
.panel-primary  > .panel-header{
	color: #ffffff;
	background-color: #2780e3;
	border-color: #2780e3;
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: -1;
	border-top-left-radius: -1;

}
.panel-body{
	font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	font-size: 15px;
	padding: 15px;
	line-height: 1.42857143;
	color: #333333;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 17px;
	color: inherit;
}
select, input{
	height: 43px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0;
}
select{
	width:150px;
	padding: 10px 18px;
}
input.timer{
	width:50px;
	padding-left: 20px;
}
span , label{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
	padding: 0px 10px;
	line-height: 1.42857143;
	color: #333333;
}
select.choose-price{
	display: none;
}
input[type="image"]{
	border: none;
}
input[type="checkbox"]{
	height: inherit;
}
img.baby{
	display:block;
}
span.myself{
	padding: 10px 0px;
}
span.advice-comment{
	padding-bottom: 6px;
	padding-top: 8px;
	padding-left: 0px;
}
#pay-controls {
	margin-top: 1em;
}
#something-else a {
	color: gray;
	font-size: small;
}
#slider-table {
	width: 100%;
	background: -webkit-radial-gradient(58% 36px, rgba(252,252,252,255), rgba(252,252,252,0) 200px);
	background: -moz-radial-gradient(58% 36px, rgba(252,252,252,255), rgba(252,252,252,0) 200px);
}
#slider {
	width: 100%;
	-webkit-appearance: none !important; /* must do this to then style it */
	background: -webkit-gradient(linear, left top, right top, from(#FA9898), to(#F5002E), color-stop(.3, #E087A6));
	border: 1px inset white;
	height: 5px;
    margin: 2px;
    padding: 0px;
}
input#slider:focus{
    outline: 0;
}
input#paypal-button{
	width: 250px;
}
#slider::-moz-range-track {
    -moz-appearance: none !important; /* must do this to then style it */
    background: -moz-linear-gradient(to right, #faa, #beb, #afa 50%);
}
#amt-text {
	margin-left: -5px; /* hack to center it on the slider thumb pretty decently */
	padding-top: 5px; /* otherwise it touches the thumb */
}
span#amt-text-num{
	padding: 0px;
}
.instructions {
	font-style: italic;
	color: gray;
}
td.big-label{
	width: 100px;
}
#gift .why {
	display: none; /* they don't show till the slider reaches their level */
	margin-right: -4px; /* so periods turn into ellipses */
}
#amt-text-row {
	font-size: medium; /* explicitly, regardless of the rest of the page */
}
.delayed {
	display: none;
}
.delay-link {
	color: blue;
}
.waiting {
	cursor: wait !important;
}
.alert{
	text-align: center;
	padding: 10px 0px;
	font-size: 1.1em;
}
.alert-success{
	background-color: #3fb618;
	border-color: #4e9f15;
	color: #ffffff;
}
.alert-success span{
	color: #ffffff;
}
.save-success{
	position:fixed;
	top: 50%;
	left: 50%;
	z-index:100;
	display:inline-block;
	float:left;
	width:300px;
}
.alert-dismissable{
	visibility:hidden;
}
span.count-number{
	padding-left:0;
}
.row{
	display: block;
	width: 100%;
}
.paypal-form{
	display: inline-block !important;
}
